body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    text-align: justify;
}

.navbar-atractivos {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-atractivos a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.navbar-atractivos a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.container-atractivos {
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-top: 20px;
    color: #25d366; 
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
    margin: 10px 0;
}
/* Media Queries */
@media (max-width: 768px) {
    .navbar-atractivos {
        flex-direction: column;
        align-items: center;
    }

    .navbar-atractivos a {
        padding: 10px;
        font-size: 16px;
    }
}
/* Móviles */
@media (max-width: 600px) {
    .container {
        width: 90%;
        top: 40%;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        font-size: 1em;
    }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 768px) {
    .container {
        width: 85%;
        top: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.75em;
    }
    p {
        font-size: 1.1em;
    }
}

/* Laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 80%;
        top: 50%;
    }
    h1 {
        font-size: 2.75em;
    }
    h2 {
        font-size: 1.85em;
    }
    p {
        font-size: 1.15em;
    }
}

/* Desktops */
@media (min-width: 1025px) {
    .container {
        width: 70%;
        top: 50%;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
    }
}